{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title%}Booking{% endblock %}

{% block extraStatistic %}

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cardo:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static "booking/css/bootstrap.min.css" %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static "booking/css/style.css" %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %} 

{% endblock %}

{% block container %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Make your reservation</h1>
							
						</div>
						<form method="post" action="{% url 'master:room-booking' room_id %}"> 
							{{ form.media }}
							{% csrf_token %}
							{{ form.user }}
							{{ form.status }}
							{{ form.room_id }}
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Check In</span>
										{{ form.check_in }}
										{{ form.check_in.errors }}
									</div>
									<span class="in-out hidden-xs hidden-sm">&#8652;</span>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Days</span>
										{{ form.days }}
										{{ form.days.errors }}
									</div>
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-8">
									<div class="form-btn">
										<input type="submit" class="submit-btn" value="Payment">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}